<ion-app>
  <div class="centrar">
      <ion-img 
        class="duoc"    
        src="assets/img/kindpng_6643745-removebg-preview.png"
        alt="Deberia haber una imagen aquí">
      </ion-img> 
  
      <ion-item class="Cr-1 se " >
        <ion-input #correo Placeholder="USUARIO"></ion-input>
      </ion-item> 
  
      <ion-item class="Cr-1 se ">                  
        <ion-input Placeholder="CONTRASEÑA"></ion-input>
      </ion-item>        
      
      <!--<ion-button class="ingresar " [routerLink]="['/home']">Ingresar</ion-button>-->
      <ion-button class="ingresar" (click)="navegar(correo?.value)">Ingresar</ion-button>
  
    </div>
  </ion-app>
