:host {
    ion-content {
      --background: #6E6E6E;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .error-card {
    text-align: center;
    width: 90%;
    max-width: 400px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .error-img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  
  ion-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff; /* Texto blanco */
  }
  
  ion-button {
    --background: #ffffff; /* Texto blanco */
    color: black;
    font-weight: bolder;
    margin-top: 10px;
  }

  ion-card{

    background-color: #6200ea; /* Color morado */

  }
  
  
  