.centrar {
  margin: 20% 0% 0% 0; /* Elimina márgenes del contenedor */
  padding: 20px; /* Añade separación vertical con padding */
  display: flex;
  align-items: center;
  flex-direction: column; /* Asegura alineación vertical */
  gap:30px; /* Espaciado consistente entre elementos */
}


  ion-app {
  background-color: #6E6E6E;
  }

  .tamaño {
    width: 60%;
    height: 80px;
 }

ion-label{
  --color: #000;
  font-size: 15px;
}

 .al-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-list {
  width: 60%;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgb(77, 75, 75);

  overflow-y: scroll; /* Scroll solo en el eje Y */
  scrollbar-width: none; /*Elimina la barra de scrollbar*/
}

ion-img{
  height: 150px;
}


.color { 
  color: #000;
}