<ion-app>

    
    <div class="centrar">
      <ion-card class="tamaño al-text color">
        <ion-card-title>{{ curso?.codigo }}</ion-card-title>
        <ion-card-subtitle>{{ curso?.nombre }}</ion-card-subtitle>
      </ion-card>

      <ion-img
        src="assets/img/bing_generated_qrcode.png"
        alt="Debería haber una imagen aquí">
      </ion-img> 

      <ion-list>
        @for (item of items; track item; let index = $index) {
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
          </ion-avatar>
          <ion-label>{{ item }}</ion-label>
        </ion-item>
        }
      </ion-list>
    </div>





</ion-app>


