<ion-app>

    
    <div class="centrar">
      <ion-card class="tamaño al-text color">
        <ion-card-title>{{ curso?.codigoSeccion }}</ion-card-title>
        <ion-card-subtitle>{{ curso?.nombre }}</ion-card-subtitle>
      </ion-card>

      <ion-img
      *ngIf="qrCode" [src]="qrCode" alt="QR Code generado">
      </ion-img>

      <ion-list>
        <ion-item *ngFor="let alumno of alumnos;">
          <ion-avatar slot="start">
          <img [src]="'https://picsum.photos/80/80?random=' + alumno.id" alt="avatar" />
          </ion-avatar>
          <ion-label>{{ alumno.nombre }}</ion-label>
        </ion-item>
      </ion-list>
    </div>





</ion-app>


