ion-app {
background-color: #6E6E6E;
}

.centrar {
    margin: 15% 0 40% 0; /* Elimina márgenes del contenedor */
    padding: 10px 0; /* Añade separación vertical con padding */
    display: flex;
    align-items: center;
    flex-direction: column; /* Asegura alineación vertical */
    gap: 50px; /* Espaciado consistente entre elementos */
}

.tamaño {

    width: 65%;
    height: 80px;

 }

  ion-card>ion-card-subtitle, ion-card-title{
        --color: #000;
        font-size: 15px;
 }

 .al-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .imagen{
   width: 200px;
   border-radius: 15px;
   overflow: hidden;
 }


 ion-button{ 

   --background: white;
   --color: #000;
   font-size: 15px;
   font-weight: bolder;
   filter: drop-shadow(1px 0 2px black);
   text-transform: none;

 }


